!urxvt

! URxvt.font:                xft:Roboto Mono for Powerline:pixelsize=14:antialias=true
! URxvt.boldFont:            xft:Roboto Mono for Powerline:pixelsize=14:bold:antialias=true
! URxvt.italicFont:          xft:Roboto Mono for Powerline:pixelsize=14:italic:antialias=true
! URxvt.boldItalicFont:      xft:Roboto Mono for Powerline:pixelsize=14:bold:italic:antialias=true
URxvt.font:                xft:Iosevka:pixelsize=16:antialias=true
URxvt.boldFont:            xft:Iosevka:pixelsize=16:bold:antialias=true
URxvt.italicFont:          xft:Iosevka:pixelsize=16:italic:antialias=true
URxvt.boldItalicFont:      xft:Iosevka:pixelsize=16:bold:italic:antialias=true
/* URxvt.letterSpace:         -1 */
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Gruvbox Theme
! *background: #282828
! *foreground: #fdf4c1
! ! Black + DarkGrey
! *color0:  #282828
! *color8:  #928374
! ! DarkRed + Red
! *color1:  #cc241d
! *color9:  #fb4934
! ! DarkGreen + Green
! *color2:  #98971a
! *color10: #b8bb26
! ! DarkYellow + Yellow
! *color3:  #d79921
! *color11: #fabd2f
! ! DarkBlue + Blue
! *color4:  #458588
! *color12: #83a598
! ! DarkMagenta + Magenta
! *color5:  #b16286
! *color13: #d3869b
! ! DarkCyan + Cyan
! *color6:  #689d6a
! *color14: #8ec07c
! ! LightGrey + White
! *color7:  #a89984
! *color15: #ebdbb2

! Doom one theme
*color0: #1E2127
*color8: #5C6370
*color1: #CC626A
*color9: #E06C75
*color2: #98C379
*color10: #A7D685
*color3:  #da8548
*color11: #ECBE7B
*color4: #3E86B8
*color12: #51afef
*color5: #a9a1e1
*color13: #C678DD
*color6: #4db5bd
*color14: #56B6C2
*color7: #ABB2BF
*color15: #FFFFFF

URxvt*background:                     #282c34
URxvt*foreground:                     #d1d4e0
URxvt*cursorColor:                    #51afef
URxvt*scrollColor:                    #d1d4e0
URxvt*highlightColor:                 #42444a
! URxvt*highlightTextColor:             #959ba5


URxvt.urlLauncher:      /usr/bin/chromium
URxvt.matcher.button:   1 

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt.perl-ext-common:     matcher,resize-font,foo

URxvt.keysym.F11:          perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1
