!rofi

rofi.color-enabled: true
rofi.color-window: #161719, #161719, #161719
rofi.color-normal: #161719, #c5c8c6, #161719, #161719, #00ff15
rofi.color-active: #161719, #c5c8c6, #161719, #161719, #00ff15
rofi.color-urgent: #161719, #c5c8c6, #161719, #161719, #00ff15
rofi.font: System San Francisco Display 13
rofi.hide-scrollbar: true
rofi.lines: 3
rofi.eh: 2
rofi.width: 100
rofi.padding: 486
rofi.bw: 0
rofi.opacity:85

!urxvt

URxvt.font:                xft:Source Code Pro:pixelsize=13
URxvt.boldFont:            xft:Source Code Pro:pixelsize=13:bold
URxvt.italicFont:          xft:Source Code Pro:pixelsize=13:italic
URxvt.boldItalicFont:      xft:Source Code Pro:pixelsize=13:bold:italic
URxvt.letterSpace:         -1

!standard dark theme

URxvt*background: #161719
URxvt*foreground: #DEDEDE

URxvt*colorUL: #86a2b0

! black
URxvt*color0  : #2E3436
URxvt*color8  : #555753
! red
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
! green
URxvt*color2  : #4E9A06
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #C4A000
URxvt*color11 : #FCE94F
! blue
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.urlLauncher:      /usr/bin/google-chrome-stable
URxvt.matcher.button:   1 


URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt.perl-ext-common:     matcher,resize-font,foo

URxvt.keysym.F11:          perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1
